@font-face {
    font-family: SF-display;
    src: url(fonts/sf-pro-display-font/SF-Pro-Display-Regular.woff);
}
@font-face {
    font-family: sf-text;
    src: url(fonts/sf-pro-display-font/sf-pro-text-regular.woff);
}

body{
    margin: 0;
}

header{
    padding: 0rem 0;
    background-color: rgb(40,40,40,0.7);
    color: whitesmoke;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.fix {
    position:static;
    background-color: rgb(40,40,40,0.8);
}

.main{
    padding-top: 3rem;
}

header a{
    color: whitesmoke;
    text-decoration: none;
}

h1{
    font-size:300%;
    font-weight: bolder;
}

p{
    margin-bottom: 1.6em;
}

main{
    padding-top: 11rem;
    padding-bottom: 5rem;
    background-color: whitesmoke;
    background-image: url(img/fondo.jpeg);
    background-blend-mode:hard-light;
    background-size: cover;
}

.container{
    width: 87%;
    max-width: 850px;
    margin: 0 auto;
    font-family: 'sf-text';
}

.menu-horizontal{
    color: gainsboro;
}

.menu-horizontal ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-horizontal ul li{
    display: inline-block;
}

.menu-horizontal ul li a{
    display: block;
    padding: 0.3rem 1rem;
}

.menu-horizontal ul li a:hover{
    background-color:  rgba(125, 241, 231, 0.212);
    transition: all 300ms linear;
    border-radius: 5px;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 166px;
    background-color: rgba(0,0,0,0.8);
    align-content: space-between;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
    transition-duration: 2s;
    border-radius: 4px;
}

.menu-vertical li:hover{
    background-color: rgba(144,204,196,0.7);
    border-radius: 12px;
    width: 100%;
    transition: all 300ms;
}

.menu-horizontal  img{
    width: 80px;
    display:none;
}

#modal{
    background-color: rgba(233, 72, 72,0.85);
    max-width: 500px;
    color: aliceblue;
    text-align: center;
    border: solid rgb(39, 34, 34);
    border-radius: 5px;
    justify-content: space-between;
    z-index: 1;
    top: 132px;
    display:none
}

#abrir-popup{
    border-radius: 6px;
    text-shadow: 1px 1px 1px #666666;
    color: whitesmoke;
    font-size: 16px;
    padding: 15px;
    background: rgb(139, 204, 193);
    border: solid #000 2px;
}
    
#cerrar-popup{
    border-radius: 4px;
    text-shadow: 1px 1px 12px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 12px;
    background: rgb(255, 220, 0);
    border: solid #000 2px;
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog{
    align-items: center;
    font-style: italic;
    display:flex;
}

.notocar{
    font-size: 20px;
    font-style:normal ;
    
}

footer{
    background-color: #e0e0e0;
    padding: 4rem 0;
    text-align: center;
    margin-top: 0rem;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

#back_menu{
    display:none
}

#btn_menu{
    width:20px;
    display: none;
}

.wsp{
    position: fixed;
    bottom: 21px;
    right: 55px;
    transition: all 300ms;
}
.wsp img{
    transition: all 300ms;
}

@media screen and (max-width: 720px){

    .menu-horizontal {
        z-index: 1;
        position: fixed;
        top: 0;
        right: -500px;
        background: whitesmoke;
        width: 250px;
        height: 100vh;
        padding: 40px;
        text-align: right;
        transition: all 350ms
    }

    .menu-horizontal ul{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .menu-horizontal ul li{
        margin-top: 20px;
        margin-left:0;
    }
    
    .menu-horizontal ul li a{
        color:rgb(39, 39, 39);
    }
    
    .menu-horizontal ul li a:hover{
        transition: all 0.21s linear;
        background: none;
        border-radius: none;
        color:rgb(144,204,196);
    }
    
    .menu-horizontal .menu-vertical{
        display: none;
    }
    
    .menu-horizontal .menu-vertical a{
        color: whitesmoke;
    }

    .menu-horizontal .menu-vertical a:hover{
        color: whitesmoke;
    }

    .menu-horizontal .menu-vertical li{
        margin:2px
    }
    
    .menu-vertical {
        position:fixed;
        top: 110px;
        color:whitesmoke;
    }
    
    .menu-horizontal  img{
        display: block;
        right: 0;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:rgba(0,0,0,0.6);
        display:none;
    }

    #btn_menu{
        display:flex;
        width: 45px;
        height: 45px;
        background: rgba(255,255,255,0.15);
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }

    #btn_menu img{
        height: 20px;
    }

    #btn_menu:hover{
        display:flex;
        width: 45px;
        height: 45px;
        background: rgba(255,255,255,0.25);
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    .wsp{
        position: fixed;
        bottom: 21px;
        right: 21px;
        transition: all 300ms;
    }
    .wsp img{
        width: 55px;
        transition: all 300ms;
    }

    #titulo{
        font-size: 70%;
        max-width: 200px;
        text-align: center;
    }
}
