*{
    background-color: rgb(2, 0, 0);
    color: whitesmoke;
}
@font-face {
    font-family: SF-display;
    src: url(fonts/sf-pro-display-font/SF-Pro-Display-Regular.woff);
    }
@font-face {
    font-family: sf-text;
    src: url(fonts/sf-pro-display-font/sf-pro-text-regular.woff);
}

.cabeza{
    font-size: 61px;
    font-family: 'sf-text';
    color: whitesmoke;
}